 /* row highlighting in the table */
 .highlight {
      background-color: #b8b8b8; 
}

.statistics {
      background-color: chocolate ;
}

.addjourney {
      background-color: aqua;
}

.ride {
      background-color: chartreuse;
}

.App.leaflet-container {
      height: 5000px;
  }
  